/* styles.scss or any other global style file */

nav {
    background-color: #007bff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
  }
  
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .icons-section {
    display: flex;
    align-items: center;
  }
  
  mat-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  label {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  