
.container{
    .content{
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0px -1px 3px 0px #9e9e9e7a;

        .img-conatiner{
            border-right-width: 3px;
            border-right-style: solid;
            border-right-color: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                transition: transform 0.4s ease-in-out;
                &:hover {
                    transform: scale(1.05);
                  }
            }
        }
    }

    .page-title{
        a{
            cursor: pointer;
            color: #2196F3;
        }
        mat-icon{
            vertical-align: bottom;
        }
      
    }
   
}

.product-image{
    width: 50%;
    height: auto;
}
.product-info{
    display: flex;
    align-items: center;
    .product-price {
        font-size: 1.25rem;
        font-weight: bold;
        color: #007bff; 
      }
      .product-rating{
        mat-icon{
          vertical-align: bottom;
          color: goldenrod;
        }
      }
}
