
  <div class="container my-5">
    <div class="my-3 page-title">
        <a (click)="goBack()" class="fw-bold fs-6">Products</a> 
        <mat-icon>chevron_right</mat-icon>
          <span class="fw-bold">{{ product?.title }}</span>  
        </div>
        <div class="content p-5">
            <div class="row">
                <div class="col-6 text-center img-conatiner ">
                    <img [src]="product?.image" [alt]="product?.title" class="product-image">
                </div>
                <div class="col-6 text-center product-info">
                    <div class="px-5">
                        <h1 class="fw-bold">{{ product?.title }}</h1>
                        <p class="category fs-4">{{ product?.category }}</p>
                        <p class="product-price">{{ product?.price | currency}}</p>
                        <div class="product-rating mb-3">
                            <mat-icon>star</mat-icon>  Rating: {{ product?.rating?.rate | json }}
                          </div>
                        <p class="description">{{ product?.description }}</p>
                        <button mat-raised-button color="primary" class="mt-4">
                            <mat-icon>
                                <span class="material-symbols-outlined">
                                    shopping_bag
                                    </span>
                            </mat-icon>
                            Add To Cart
                        </button>
                      </div>
                </div>
            </div>
        </div>
 
  </div>

  