.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  img {
    max-width: 190px;
  }

  .login-card {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);

    .login-form {
      display: flex;
      flex-direction: column;

      .mat-form-field {
        margin-bottom: 1rem;
        width: 100%;

        input.mat-input-element {
          border-radius: 4px;
          padding: 0.5rem;
          font-size: 1rem;
          border: 1px solid #ccc;
        }
      }

      mat-card-actions {
        display: flex;
        justify-content: center;

        button {
          margin: 0 0.5rem;
        }
      }

      .login-button {
        background-color: #1976d2;
        color: #fff;
        padding: 0.5rem 1rem;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
