<div class="form-container">
  <img src="../../../assets/images/logo.png" alt="">
  <mat-card class="login-card">
    <p class="fs-3">Login</p>
      <form class="login-form"  [formGroup]="loginForm" >
        <mat-form-field appearance="outline">
          <mat-label>User name</mat-label>
          <input matInput placeholder="User name" formControlName="userName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
      </form>
  </mat-card>

</div>



