<div class="login-container">

  <mat-card class="login-card">
   
    <mat-card-actions>
      <button mat-fab extended color="primary" #adminButton (click)="loginAs('admin')"
        [ngClass]="{'selected' : activeButton == 'admin' }">
        <mat-icon>manage_accounts</mat-icon>
        Login as Admin
      </button>
      <button mat-fab extended color="primary" #userButton (click)="loginAs('user')"
      [ngClass]="{'selected' : activeButton == 'user' }">
        <mat-icon>person</mat-icon>
        Login as User
      </button>
    </mat-card-actions>
    
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Admin Username" name="userName" [(ngModel)]="userName" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Admin Password" name="password" [(ngModel)]="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
    </div>
  </mat-card>

</div>
